:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, Hiragino Kaku Gothic Pro, sans-serif;
  --font-family: "UDEV Gothic 35NFLG", "UDEV Gothic 35JPDOC", Menlo, Monaco, 'Courier New', monospace;
}

* {
  font-family: var(--font-family), var(--font-family-base);
}
